 <div class="page-wrapper">

   <div class="content container-fluid">

     <!-- Page Header -->
     <div class="page-header mb-4">
       <div class="row align-items-center">
         <div class="col">
           <h4 class="page-title mb-0">Pay Slip</h4>
           <ul class="breadcrumb">
             <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
             <li class="breadcrumb-item active">Pay Slip</li>
           </ul>
         </div>

       </div>
     </div>
     <div class="row justify-content-center">
       <div class="col-xl-12 col-md-12">
         <div class="card border-0 p-4">
           <div class="mb-20 text-center">
             <h5 class="card__heading-title">Employee Payslip</h5>
           </div>
           <div class="d-flex justify-content-between flex-xl-row flex-sm-row flex-column">
             <div class="payslip__office-address">
               <div class="payslip__logo mb-20">
                 <img class="light-logo" src="assets/images/logo/logo.svg" alt="payslip logo">
                 <img class="dark-logo" src="assets/images/logo/logo-white.svg" alt="payslip logo">
               </div>
               <p class="mb-0">100 Terminal, Fort Lauderdale,</p>
               <p class="mb-0">Miami 33315, United States</p>
                <p class="mb-0">name&#64;manez.com</p>
               <p class="mb-0">+1(800) 642 7676</p>
             </div>
             <div class="payslip__serial-number">
               <div class="mb-1">
                 <h5 class="card__heading-title">PAYSLIP #MZ-00114</h5>
               </div>
               <div class="mb-1">
                 <span>Date:</span>
                 <span>2024-01-08</span>
               </div>
               <div class="mb-1">
                 <span>Date Due:</span>
                 <span>2024-01-08</span>
               </div>
             </div>
           </div>
           <div class="payslip-line"></div>
           <div class="row g-60 gy-20">
             <div class="col-xl-6 col-lg-6 col-sm-6">
               <div class="mb-20">
                 <h4>Billing Address</h4>
               </div>
               <div class="payslip__employee-address">
                 <h5 class="mb-10 fw-600">Ethan Mitchell</h5>
                 <p class="text-muted mb-0">Position: <span>Business Intelligence Analyst</span> </p>
                 <p class="text-muted mb-0">Department: <span> Information Technology Department</span></p>
                 <p class="text-muted mb-0">Email: <span>ethanmitchell&#64;manez.com</span></p>
                 <p class="text-muted mb-0">Phone: <span> +1(800) 642 7676</span></p>
               </div>
             </div>
           </div>
           <div class="payslip-line"></div>
           <div class="payslip__table table-responsive">
             <table class="table table-nowrap align-middle mb-0">
               <thead>
                 <tr class="table__title bg-title">
                   <th scope="col">Earning</th>
                   <th scope="col" style="width: 350px;">Title</th>
                   <th scope="col" style="width: 200px;">Type</th>
                   <th scope="col" class="text-end">Amount</th>
                 </tr>
               </thead>
               <tbody>
                 <tr>
                   <td>Basic Salary</td>
                   <td>-</td>
                   <td>-</td>
                   <td class="payslip-amount text-end">$1150.00</td>
                 </tr>
                 <tr>
                   <td>Dearness Allowance(DA)</td>
                   <td>Cost of living allowance</td>
                   <td>Fixed</td>
                   <td class="payslip-amount text-end">$200.00</td>
                 </tr>
                 <tr>
                   <td>Transport Allowance(TA)</td>
                   <td>Travel allowance</td>
                   <td>Fixed</td>
                   <td class="payslip-amount text-end">$150.00</td>
                 </tr>
                 <tr>
                   <td>Mobile Allowance (MA)</td>
                   <td>For client communication</td>
                   <td>As Per Need</td>
                   <td class="payslip-amount text-end">$70.00</td>
                 </tr>
                 <tr>
                   <td>OverTime</td>
                   <td>For extra work</td>
                   <td>Fixed</td>
                   <td class="payslip-amount text-end">$100.00</td>
                 </tr>
                 <tr>
                   <td>Bonus (BNS)</td>
                   <td>Festival</td>
                   <td>Percentage</td>
                   <td class="payslip-amount text-end">$180.00</td>
                 </tr>
                 <tr>
                   <td>Other Payment</td>
                   <td>For extra sell</td>
                   <td>-</td>
                   <td class="payslip-amount text-end">$00.00</td>
                 </tr>
                 <tr class="payslip-total">
                   <td></td>
                   <td></td>
                   <td>Total</td>
                   <td class="text-end">$1850.00</td>
                 </tr>
               </tbody>
               <thead>
                 <tr class="table__title bg-title">
                   <th scope="col">Deduction</th>
                   <th scope="col" style="width: 350px;">Title</th>
                   <th scope="col" style="width: 200px;">Type</th>
                   <th scope="col" class="text-end">Amount</th>
                 </tr>
               </thead>
               <tbody>
                 <tr>
                   <td>Provident Fund (PF)</td>
                   <td>After retirement</td>
                   <td>Fixed</td>
                   <td class="payslip-amount text-end">$150.00</td>
                 </tr>
                 <tr>
                   <td>Personal Loan (PL)</td>
                   <td>As per amount</td>
                   <td>Percentage</td>
                   <td class="payslip-amount text-end">$70.00</td>
                 </tr>
                 <tr>
                   <td>Security Deposit (SD)</td>
                   <td>After leaving this job</td>
                   <td>Fixed</td>
                   <td class="payslip-amount text-end">$30.00</td>
                 </tr>
                 <tr>
                   <td>Early Leaving (EL)</td>
                   <td>Form early office leaving</td>
                   <td>Percentage</td>
                   <td class="payslip-amount text-end">$100.00</td>
                 </tr>
                 <tr class="payslip-total">
                   <td></td>
                   <td></td>
                   <td>Total</td>
                   <td class="text-end">$350.00</td>
                 </tr>
               </tbody>
               <tbody class="">
                 <tr class="invoice-line">
                   <td colspan="2" class="text-start">
                     <div class="form__input-title">
                       <label></label>
                     </div>
                     <span class="text-muted mb-0"></span>
                   </td>
                   <td colspan="4" class="p-0 text-end">
                     <div class="table-responsive">
                       <table class="table table-borderless mb-0 mt-3">
                         <tbody>
                           <tr class="text-start">
                             <th scope="row">Net Salary :</th>
                             <th class="text-end">$1500.00</th>
                           </tr>
                           <tr class="text-start">
                             <td>Rebate :</td>
                             <td class="text-end">$00.00</td>
                           </tr>
                           <tr class="text-start b-bottom-transparent">
                             <th scope="row">Payable Amount :</th>
                             <th class="text-end">$1500.00</th>
                           </tr>
                         </tbody>
                       </table>
                     </div>
                   </td>
                 </tr>
               </tbody>
             </table>
           </div>
           <div class="payslip__payment-details mt-3">
             <h5 class="card__heading-title mb-3">Payment Details:</h5>
             <p class="text-muted mb-0">Payment Method: <span>Bank Account</span></p>
             <p class="text-muted mb-0">Account Name: <span>Ethan Mitchell</span></p>
             <p class="text-muted mb-0">Account Number: <span>3456 **** **** **34</span></p>
             <p class="text-muted mb-0">Account Name: <span>Manez Bank LTD</span></p>
           </div>
           <div class="payslip-line"></div>
           <div class="d-flex flex-wrap gap-3 justify-content-lg-end">
            <a href="payroll-payslip-print.html" target="_blank" class="btn btn-info d-flex align-items-center gap-2 text-white">
              <i class="bi bi-eye"></i>
              Print
            </a>

            <a href="javascript:void(0)" class="btn btn-success d-flex align-items-center gap-2 text-white">
              <i class="bi bi-save"></i>
              Save
            </a>

            <a href="assets/documents/payroll-payslip.pdf" target="_blank" class="btn btn-warning d-flex align-items-center gap-2 text-white">
              <i class="bi bi-file-earmark-arrow-down"></i>
              Download
            </a>

            <button type="submit" class="btn btn-primary d-flex align-items-center gap-2 text-white">
              <i class="bi bi-send"></i>
              Send
            </button>
          </div>
         </div>
       </div>
     </div>
   </div>
 </div>
