<div id="header"
  class="app-header fixed-top border-bottom d-flex align-items-center justify-content-between flex-wrap">
  <!-- Logo + Menu -->
  <div class="app-header-logo d-flex align-items-center justify-content-between">
    <div class="brand-section d-flex align-items-center">
      <div class="brand-logo me-3 fs-1">
        <i class="bi bi-people-fill"></i>
      </div>
      <div>
        <h5 class="brand-title mb-0">HRMS</h5>
        <small style="margin-top: -5px;" class="d-block">Admin Dashboard</small>
      </div>
    </div>
    <div class="app-header-menu">
      <!-- <i class='bx bx-menu ms-3'></i> -->
      <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu" (click)="toggleSidebar()">
      <label for="openSidebarMenu" class="sidebarIconToggle">
        <div class="spinner diagonal part-1"></div>
        <div class="spinner horizontal"></div>
        <div class="spinner diagonal part-2"></div>
      </label>
    </div>
  </div>

  <!-- User Dropdown -->
  <div class="navbar-nav ms-auto">
    <div class="theme-toggle me-3">
        <input
          type="checkbox"
          id="dark-mode-toggle"
          [checked]="isDarkMode"
          (change)="toggleDarkMode($event)"
        />
        <label for="dark-mode-toggle" class="toggle-label">
          <i class="bi bi-sun-fill icon-light"></i>
          <i class="bi bi-moon-fill icon-dark"></i>
        </label>
    </div>
    <button class="btn btn-light border btn-sm position-relative rounded-2 me-3">
      <i class="bi bi-bell-fill"></i>
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
        3
      </span>
    </button>
    <div class="navbar-item navbar-user dropdown">
      <a href="javascript:void(0)" class="navbar-link dropdown-toggle d-flex align-items-center"
        data-bs-toggle="dropdown" role="button" aria-expanded="false">
        <img src="https://ui-avatars.com/api/?name=Gagan+Kumar&background=7c3aed&color=fff&size=40" alt="mdo" width="40"
          height="40" class="rounded-2 border p-1 me-1">
        <i class="bi bi-chevron-down ms-1"></i>
      </a>
      <div class="dropdown-menu dropdown-menu-end">
        <div class="px-4 pb-0 pt-2">
          <div class="lh-1">
            <h5 class="mb-1">John E. Grainger</h5>
            <a href="#!" class="text-inherit fs-6">View my profile</a>
          </div>
          <div class="dropdown-divider mt-2 mb-1"></div>
        </div>
        <ul class="list-unstyled">
          <li>
            <a class="dropdown-item d-flex align-items-center" href="#!">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-user me-2 icon-xxs dropdown-item-icon">
                <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                <circle cx="12" cy="7" r="4"></circle>
              </svg>
              Edit Profile
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="#!">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-activity me-2 icon-xxs dropdown-item-icon">
                <polyline points="22 12 18 12 15 21 9 3 6 12 2 12"></polyline>
              </svg>
              Activity Log
            </a>
          </li>

          <li>
            <a class="dropdown-item d-flex align-items-center" href="#!">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-settings me-2 icon-xxs dropdown-item-icon">
                <circle cx="12" cy="12" r="3"></circle>
                <path
                  d="M19.4 15a1.65 1.65 0 0 0 .33 1.82l.06.06a2 2 0 0 1 0 2.83 2 2 0 0 1-2.83 0l-.06-.06a1.65 1.65 0 0 0-1.82-.33 1.65 1.65 0 0 0-1 1.51V21a2 2 0 0 1-2 2 2 2 0 0 1-2-2v-.09A1.65 1.65 0 0 0 9 19.4a1.65 1.65 0 0 0-1.82.33l-.06.06a2 2 0 0 1-2.83 0 2 2 0 0 1 0-2.83l.06-.06a1.65 1.65 0 0 0 .33-1.82 1.65 1.65 0 0 0-1.51-1H3a2 2 0 0 1-2-2 2 2 0 0 1 2-2h.09A1.65 1.65 0 0 0 4.6 9a1.65 1.65 0 0 0-.33-1.82l-.06-.06a2 2 0 0 1 0-2.83 2 2 0 0 1 2.83 0l.06.06a1.65 1.65 0 0 0 1.82.33H9a1.65 1.65 0 0 0 1-1.51V3a2 2 0 0 1 2-2 2 2 0 0 1 2 2v.09a1.65 1.65 0 0 0 1 1.51 1.65 1.65 0 0 0 1.82-.33l.06-.06a2 2 0 0 1 2.83 0 2 2 0 0 1 0 2.83l-.06.06a1.65 1.65 0 0 0-.33 1.82V9a1.65 1.65 0 0 0 1.51 1H21a2 2 0 0 1 2 2 2 2 0 0 1-2 2h-.09a1.65 1.65 0 0 0-1.51 1z">
                </path>
              </svg>
              Settings
            </a>
          </li>
          <li>
            <a class="dropdown-item" href="../index.html">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                class="feather feather-power me-2 icon-xxs dropdown-item-icon">
                <path d="M18.36 6.64a9 9 0 1 1-12.73 0"></path>
                <line x1="12" y1="2" x2="12" y2="12"></line>
              </svg>
              Sign Out
            </a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
