:root{
  --bs-success: #03c95a !important;
}
.attendance__card .attendance-card {
    background: linear-gradient(180deg, #fff8f4, #fff);
    border-color: #f26522 !important;
    position: relative;
    z-index: 1;
}

.attendance__card .attendance-progress {
  position: relative;
  width: 140px;
  height: 140px;
  margin: 0 auto;
}

.attendance__card .attendance-progress .circle {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 50%;
background: conic-gradient(#03c95a 0% 65%, #eaeaea 65% 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.attendance__card .attendance-progress .inside-circle {
  background: #fff;
  border-radius: 50%;
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

.attendance__card .stat-card .avatar-sm {
    width: 30px;
    height: 30px;
    font-size: 14px;
    color: #fff !important;
    border-radius: 5px;
}

.attendance__card .progress-timeline {
  display: flex;
  border-radius: 8px;
  overflow: hidden;
  height: 18px;
  background: rgba(0, 0, 0, 0.05);
}

.attendance__card .progress-timeline .progress-segment {
  height: 100%;
}

.attendance__card .time-scale span {
  font-size: 11px;
  flex: 1;
  text-align: center;
}

/* Background utilities */
.attendance__card .bg-primary {
  background-color: var(--bs-primary) !important;
}

.attendance__card .bg-dark {
  background-color: #343a40 !important;
}

.attendance__card .bg-info {
  background-color: #0dcaf0 !important;
}

.attendance__card .bg-pink {
  background-color: #e83e8c !important;
}

.avatar.avatar-xs {
    width: 1.25rem;
    height: 1.25rem;
    line-height: 1.25rem;
    font-size: .95rem;
    color: #ffffff !important;
}